# If you need specific settings for your dev-configuration
# create a .env.local to add or overwrite $_ENV settings
#
# keep this files untouched
#

# ##################################
# Enable Development mode means Container an Listener Cache is
# re-generated on every script execution.
#
# Set this to false when going to production
IS_DEVELOPMENT=true

# ##################################
# Location of symfony dependency incection container cache
#
#   default: './var/cache/containerCache.php';
DI_CONTAINER_CACHE=

# ##################################
# Location of jtl/nachricht listener cache
#
#   default: './var/cache/listenerCache.php';
LISTENER_CACHE=

# ##################################
# RabbitMQ Settings
#
# # RABBITMQ_HOST default is the Docker Container CNAME
RABBITMQ_HOST=chn-queue
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/

# ##################################
# Mongodb Settings
#
MONGODB_DSN=mongodb://chn-db:27017
MONGODB_USERNAME=root
MONGODB_PASSWORD=root
MONGODB_DB=chn-db

# ##################################
# Monolog is used for Logging
LOG_CHANNEL=SCX-Channel
LOG_LEVEL=200
LOG_FILE=./var/channel.log
LOG_ERROR_CLI=./var/error.log

# ##################################
# Twig is used a Template engine
TEMPLATE_DIR=/application/source/template
TEMPLATE_CACHE=/application/source/var/cache

# TMP_DIRECTORY=/application/var/tmp/

# ##################################
# Symfony Translations
#
# file names inside TRANSLATIONS_DIR must be type YAML.
# The filename (exlusive extension) is the locale (e.g. de_DE)
TRANSLATIONS_DIR=./translations
DEFAULT_LOCALE=de_DE

# ##################################
# Channel Core support collect Metric data during Message processing.
#
# Such metrics are collected by using GoPrometrics, a metric cache for Prometheus (see https://github.com/jtl-software/goprometrics)
# By default metric collection is disabled and even it is activated you need to use CountingAmqpDispatcher
# implementation when consume messages by AMQP.
METRIC_COLLECTION_ENABLED=0
METRIC_COLLECTION_URL=127.0.0.1:9111

# ##################################
# Channel specific stuff starts here
# ##################################

SCX_CHANNEL_API_USER_AGENT=3rd_<YOUR-CHANNEL-NAME-HERE>
CHANNEL_NAME=<YOUR-CHANNEL-NAME-HERE>
SCX_CHANNEL_API_HOST=https://scx-sbx.api.jtl-software.com
SCX_CHANNEL_API_REFRESH_TOKEN=***

